html {
    font-family:
      'Segoe UI',
      Roboto,
      'Helvetica Neue';
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

.uplvl { z-index: 20 }
.price { font-size: 1.4em; color: #707070 }

.subtitle {
    color: #ccc;
    font-size: 16px;
    position: relative;
    top: 5px;
    left: -50px;
}
h1 {
    font-family: 'Caveat', cursive;
    text-shadow: 0 1px 0 #333;
    color: #DEE5BC;
    line-height: 20px;
    font-size: 72px;
}
h2 {
    text-align: center;
    font-family: 'Segoe UI', Roboto;
    font-weight: 400;
    color: #707070;
    font-size: 1em;
}
a { text-decoration: none }
.small { font-size: .7em }
h3 {
    margin-left: 20px;
    font-family: 'Caveat', cursive;
    color: #DEE5BC;
    font-size: 45px;
}

.picture-border { 
    border: 6px solid #fff;
    box-shadow: 0 0 2px rgb(192, 192, 192);
}
  
.button {
    background-color: #fff;
    font-size: 20px;
    border: 1px solid #000;
    height: 40px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}
  
.button.primary {
    border: 1px solid #ccc;
    color: #ccc;
}

.button.empty {
    border: 1px solid transparent;
    color: #333;
}
  
.button.secondary {
    border: 1px solid #DEE5BC;
    color: #DEE5BC;
}

.button.secondary:hover {
    color: #fff;
    background-color: #DEE5BC;
}
  
.max-right .count {
    border-top: 0;
}
  
.max-right a.infos {
    margin-top: auto;
}
  
.button.nav {
    color: #DBDBDB;
    border: 1px solid #DBDBDB;
}
  
.button.nav:hover {
    color: #333;
}

.search-box {
    position: relative;
    margin: 0 auto;
    width: 200px;
    top: 20px;
    display: flex;
    padding: 0 14px;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 50px;
}
.search-box input {
    font-size: 16px;
    line-height: 20px;
    color: #333;
    margin: 4px;
    border: 0;
    width: 90%;
  }
.search-box input::placeholder {
    color: #ebebeb;
    font-style: italic;
}
.search-box svg {
    color: #DEE5BC;
}
.search-box input:focus {
    outline: none;
}